/******************************************************************

Stylesheet: 480px以上(スマホの横向き)のモニタで適用

******************************************************************/

.Main-title{
    & h1{
        font-size: 28px;
    }
  }
  .sentence1{
    & h2{
      font-size: 20px;
    }
  }
